extends ./base.pug

block content
  -function pDate(d){
    -if( d ){
        - return d.getFullYear() +"-"+(d.getMonth()+1)+"-"+d.getDate()+" "+d.getHours()+":"+d.getMinutes()+":"+d.getSeconds()
    - }else{
        - return ""; 
    -}  
  -}
  table
    
    each file in books
      tr
        td
          a(href=file.encfn)= file.fn
           
        td= pDate(file.fctime)